<%= form_for([@project, @label]) do |f| %>
  
  <%= print_errors(@label) %>

  <div class="field form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, :class=>"form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :color %><br>
    <%= f.select :color, Label.colors.keys, {}, :class=>"form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label "Price per hour" %><br>
    <%= f.text_field :wage, :class=>"form-control" %>
  </div>
  <div class="actions form-group">
    <%= f.submit 'Create label', :class=>"btn btn-primary" %>
  </div>
<% end %>
