<%= print_notice(flash) %>

<h1>Listing labels for project</h1>

<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Price per 1 hour</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @labels.each do |label| %>
      <tr>
        <td><%= label.name %></td>
        <td><%= label.wage %></td>
        <td><%= link_to '<span class="glyphicon glyphicon-pencil lead" aria-hidden="true"></span>', edit_label_path(label) %></td>
        <td><%= link_to '<span class="glyphicon glyphicon-trash lead" aria-hidden="true"></span>'.html_safe, label, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New label', new_project_label_path, :class => "btn btn-primary margin-bottom" %> </br></br>
<%= link_to 'Back to project', project_path(@project) %>
