<% if flash[:notice] %>
  <div class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= notice %>
  </div>
<% end %>

<div class="panel panel-default">
  <div class="panel-body">
    <h1>Listing Projects</h1>

    
    <table class="table table-condensed table-hover">
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @projects.each do |project| %>
          <tr>
            <td class="h3 no-underline"><%= link_to project.name, project %></td>
            <td><%= project.description %></td>
            <td><%= link_to '<span class="glyphicon glyphicon-pencil lead" aria-hidden="true"></span>'.html_safe, edit_project_path(project) if project.updatable_by?(current_user) %></td>
            <td><%= link_to '<span class="glyphicon glyphicon-trash lead" aria-hidden="true"></span>'.html_safe, project, method: :delete, data: { confirm: 'Are you sure?' } if project.updatable_by?(current_user) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <strong><%= link_to '+ New Project', new_project_path, :class=>"btn btn-primary btn-lg", :style=>"font-weight: bold;" %></strong>
  </div>
</div>