<h1>Collaborating on:</h1>

    <table class="table table-condensed table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Category</th>
          <th>Collaborators</th>
          <th colspan="2">Actions</th>
        </tr>
      </thead>

      <tbody>
        <% current_user.tasks.each do |project| %>
          <tr>
            <td class="h3 no-underline"><%= link_to project.name, project %></td>
            <td><%= project.category.name %></td>
            <td><%= project.contributors.length %></td>
            <td><%= link_to '<span class="glyphicon glyphicon-pencil lead" aria-hidden="true"></span>'.html_safe, edit_project_path(project) if project.updatable_by?(current_user) %></td>
            <td><%= link_to '<span class="glyphicon glyphicon-trash lead" aria-hidden="true"></span>'.html_safe, project, method: :delete, data: { confirm: 'Are you sure?' } if project.updatable_by?(current_user) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>