<% if flash[:notice] %>
  <div class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= notice %>
  </div>
<% end %>

<div class="panel panel-default">
  <div class="panel-body">
	<h1>
	  <%= @project.name %>
	</h1>

	<dl class="dl-horizontal">
		<dt> About project: </dt>
	  	<dd><%= @project.description %></dd>

		<dt> Contributors: </dt>
		<% if @project.coworkers.size == 0 %>
			<dd>You are here all alone. Enjoy your work.</dd>
		<% else %>
	  		<dd><%= @project.coworkers.map {|t| t.email}.join(', ') %></dd>
	  	<% end %>

  		<dt> Total work time:  </dt>
	  	<dd><%= distance_of_time_in_words(@work_time) %></dd>

 </div>
</div>


<div class="panel panel-default">
  <div class="panel-body">

	<% if @track.status == nil %>	
  		<p class="lead">Start measuring your project time:</p>
		<%= button_to 'Start', { controller: "tracks", action: "start", id: @project }, :class => "btn-xlg btn btn-success margin-bottom"  %>
	<% end %>

	<% if @track.status == 'started' || @track.status == 'resumed' %>
  		<p class="lead">Timer running. Work, yo man!</p>
		<%= button_to 'Pause', { controller: "tracks", action: "pause", id: @project }, { :class=>"btn-xlg btn btn-warning margin-bottom" } %>
	<% end %>

	<% if @track.status == 'paused' %>
  		<p class="lead">Timer paused. Feel free to continue at any time:</p>
		<%= button_to 'Resume', { controller: "tracks", action: "resume", id: @project }, { :class=>"btn-xlg btn btn-success margin-bottom" } %>
	<% end %>

	<% if @track.status == 'started' || @track.status == 'paused' || @track.status == 'resumed' %>	
		<%= button_to 'Stop', { controller: "tracks", action: "stop", id: @project }, { :class=>"btn-xlg btn btn-danger margin-bottom" } %>
	<% end %>

	</br>

	<% if @track.status == 'stopped' %>				
  		<p class="lead">Job finished!</p>
	<% end %>

	</br>


	<%= render 'track/form' %>
  </div>
</div>


<%= render 'track/tracks' %>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
