
<div class="panel panel-default">
  <div class="panel-body">

    <div class="row">
      <div class="col-md-2"/>
        <h2>Tracks:</h2>
      </div>
      <div class="col-md-10 text-right"/>
        <%= link_to '<span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span> Create Invoice'.html_safe, invoice_project_path(@project), :class => "btn btn-primary btn-lg" if user_signed_in? and @project.author == current_user%>
      </div>
    </div>



    <table class="table table-condensed table-hover">
      <thead>
        <tr>
          <th></th>
          <th>User</th>

          <% if user_signed_in? %>
            <th>From</th>
            <th>To</th>
          <% else %>          
            <th>Date</th>
          <% end %>

          <th>Total time</th>
          <th>Comment</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @tracks.each do |track| %>

          <% if user_signed_in? %>
            <tr class="<%= 'warning' if track.user_id == current_user.id && @project.contributors.size > 0 %>
              <%= 'warning' if track.user_id == current_user.id && track.status == 'paused' %>
              <%= 'success' if track.user_id == current_user.id && track.status == 'started' || track.status == 'resumed' %>
              <%= 'danger' if track.user_id == current_user.id && track.status == 'stopped'%>">
          <% else %>
            <tr>
          <% end %>

            <td><%= track_label(track.label_id) %></td>
            <td class="text-overflow"><%= User.find(track.user_id).name %></td>

            <% if user_signed_in? %>
              <td><%= track.start.strftime("%H:%M, %d.%m.%Y") if track.start %></td>
              <td><%= track.end.strftime("%H:%M, %d.%m.%Y") if track.end %></td>
            <% else %>
              <td><%= track.start.strftime("%d.%m.%Y") if track.start %></td>
            <% end %>

            <td>
                <%= distance_of_time_in_words(track.start, track.end) if track.end %>   
            </td>
            <td class="text-overflow">

              <% if user_signed_in? %>
                <% if track.status == 'started' %>
                  <b class="text-success">In progress...</b>
                <% end %>              
                <% if track.status == 'paused' %>              
                  <b class="text-warning">Paused</b>
                <% end %>
                <% if track.status == 'resumed' %>              
                  <b class="text-success">Resumed...</b>
                <% end %>
                <% if track.status == 'stopped' %>              
                  <b class="">Fill in comment...</b>
                <% end %>
              <% end %>

              <% if track.status == 'uploaded' %>
                <%= track.comment %>         
              <% end %>
            </td>

            <td>

              <%= link_to '<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>'.html_safe, { :controller => 'tracks', action: 'destroy', :id => track.id, :project => @project }, method: :delete, data: { confirm: 'Are you sure?' } if user_signed_in? %></td>
          </tr>
        <% end %>, 
      </tbody>
    </table>
  </div>
</div>